/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  /******** Navbar ***********/
  nav {
    height: 115px;
    top: -1px;
    padding: 0;
  }

  nav > #navbar {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  nav > #navbar > img {
    margin-top: 30px;
  }

  nav > #navbar > ul {
    gap: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
  }

  nav > #navbar > ul > li {
    width: 50%;
    justify-content: center;
  }

  nav > #navbar > ul > li:has(a:hover) {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  nav > #navbar > ul > li:not(:has(a:hover)) {
    border-top: none;
    border-bottom: 2px solid var(--main-bg-color);
  }

  /******** Hero ***********/
  .hero-container {
    padding: 20px;
    width: auto;
  }

  .hero-content {
    align-items: center;
  }

  .hero-content .hero-search {
    width: 100%;
  }

  .hero-content .hero-search button {
    width: 47px;
    height: 47px;
    border-radius: 15px;
  }

  .hero-content .hero-search button span {
    display: none;
  }

  .hero-content .hero-search button i {
    display: block;
    background-color: transparent;
  }

  .hero-content .hero-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  .hero-content .hero-filter .hero-filter-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
  }

  .hero-content .hero-filter .hero-filter-items .hero-filter-item {
    width: 100%;
    box-sizing: border-box;
  }

  /******** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    gap: 0;
    padding: 0 20px 30px 20px;
  }
  /******** Hebergements ***********/

  .hebergements {
    background-color: white !important;
  }

  .hebergements .hebergements-cards {
    flex-direction: column;
    gap: 0;
  }

  .hebergements .hebergements-cards .card {
    margin-top: 15px;
  }

  .hebergements .hebergements-cards a {
    width: 100%;
  }

  .hebergements .hebergements-cards img {
    height: 130px;
  }

  /******** Populaires ***********/
  .populaires {
    margin-top: 0;
    margin-bottom: 50px;
    border-radius: 0 !important;
    gap: 0 !important;
    padding: 15px 20px 30px 20px !important;
  }

  .populaires-cards {
    flex-direction: column;
  }

  .populaires-cards .card {
    margin-top: 15px;
  }

  .populaires-cards a {
    width: 100%;
  }

  /******** Activités ***********/
  .activities {
    padding: 30px 20px;
  }

  .activities-cards {
    flex-direction: column;
    gap: 15px;
  }

  .activities-cards .activity-card .card-title {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  .activities-cards a {
    width: 100%;
  }

  .activities-cards .activity-card img {
    height: 141px;
  }

  /******** Footer ***********/
  footer {
    flex-direction: column;
  }

  .footer-container {
    width: auto;
    padding: 30px;
  }
}
